<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Incredible Optimal Skunk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./gallery9.css" rel="stylesheet" />
      <div class="gallery9-gallery3 thq-section-padding">
        <div class="gallery9-max-width thq-section-max-width">
          <div class="gallery9-section-title">
            <h2 class="gallery9-text thq-heading-2">
              <span>Découvrez notre collection de robes orientales</span>
            </h2>
            <span class="gallery9-text1 thq-body-large">
              <span>
                Parcourez notre galerie pour trouver la robe parfaite pour votre
                mariage oriental.
              </span>
            </span>
          </div>
          <div class="gallery9-container">
            <div class="gallery9-content">
              <div
                data-thq="slider"
                data-navigation="true"
                data-pagination="true"
                class="gallery9-slider swiper"
              >
                <div
                  data-thq="slider-wrapper"
                  class="gallery9-slider-wrapper swiper-wrapper"
                >
                  <div
                    data-thq="slider-slide"
                    class="gallery9-slider-slide swiper-slide"
                  >
                    <div class="gallery9-container1">
                      <img
                        alt="Robe orientale rouge et dorée"
                        src="https://images.unsplash.com/photo-1715524845123-1deead6dbfa1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODI5MDIxN3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                        class="gallery9-image1 thq-img-ratio-4-3"
                      />
                    </div>
                    <div class="gallery9-container2">
                      <img
                        alt="Robe orientale rouge et dorée"
                        src="https://images.unsplash.com/photo-1715524845123-1deead6dbfa1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODI5MDIxN3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                        class="gallery9-image11 thq-img-ratio-4-3"
                      />
                    </div>
                    <div class="gallery9-container3">
                      <img
                        alt="Robe orientale bleue et argentée"
                        src="https://images.unsplash.com/photo-1627328859133-47412a9f0a9e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODI5MDIxNnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                        class="gallery9-image2 thq-img-ratio-4-3"
                      />
                    </div>
                  </div>
                  <div
                    data-thq="slider-slide"
                    class="gallery9-slider-slide1 swiper-slide"
                  >
                    <div class="gallery9-container4">
                      <img
                        alt="Robe orientale rose pâle"
                        src="https://images.unsplash.com/photo-1569493615432-2a62eba6d4d3?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODI5MDIxN3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                        class="gallery9-image3 thq-img-ratio-4-3"
                      />
                    </div>
                    <div class="gallery9-container5">
                      <img
                        alt="Robe orientale verte émeraude"
                        src="https://images.unsplash.com/photo-1601043446567-47435ed72baf?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODI5MDIxN3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                        class="gallery9-image4 thq-img-ratio-4-3"
                      />
                    </div>
                  </div>
                  <div
                    data-thq="slider-slide"
                    class="gallery9-slider-slide2 swiper-slide"
                  >
                    <div class="gallery9-container6">
                      <img
                        alt="Robe orientale mauve et or"
                        src="https://images.unsplash.com/photo-1699427128713-a2faff1345a4?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODI5MDIxNnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                        class="gallery9-image5 thq-img-ratio-4-3"
                      />
                    </div>
                    <div class="gallery9-container7">
                      <img
                        alt="Robe orientale blanche et perles"
                        src="https://images.unsplash.com/photo-1675451579467-3e843cf1a81b?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODI5MDIxN3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                        class="gallery9-image6 thq-img-ratio-4-3"
                      />
                    </div>
                  </div>
                </div>
                <div
                  data-thq="slider-button-prev"
                  class="swiper-button-prev"
                ></div>
                <div
                  data-thq="slider-button-next"
                  class="swiper-button-next"
                ></div>
                <div
                  data-thq="slider-pagination"
                  class="gallery9-slider-pagination swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"
                >
                  <div
                    data-thq="slider-pagination-bullet"
                    class="swiper-pagination-bullet swiper-pagination-bullet-active"
                  ></div>
                  <div
                    data-thq="slider-pagination-bullet"
                    class="swiper-pagination-bullet"
                  ></div>
                  <div
                    data-thq="slider-pagination-bullet"
                    class="swiper-pagination-bullet"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="gallery9-button thq-button-filled">
          <span>Découvrez notre collection</span>
        </button>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
